<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      List Games
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
  <ion-item>
    <ion-label>Candy Crush</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Stickman</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Mobile Legend</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>PUBG</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Pokemon GO</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Roblox</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Simaster UGM</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Clash Royale</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Block Blast!</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Subway Surfers</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>TownShip</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Ludo King</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Plants vs. Zombie</ion-label>
  </ion-item>
</ion-list>
</ion-content>
